* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: pink;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  width: 50vw;
  min-width: 300px;
}
form {
  height: 30px;
  display: flex;
}
input {
  font-size: 16px;
  height: 100%;
}
button {
  height: 100%;
  padding: 0px 10px;
  font-weight: 600;
}
.listings {
  width: 100%;
  padding-block: 20px;
}
.listing {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 300px;
  margin: auto;
  font-size: 1.2rem;
}
.delete {
  color: red;
  cursor: pointer;
}