* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: pink;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  width: 50vw;
  min-width: 300px;
}
.listings {
  width: 100%;
  padding-block: 20px;
}
.listing {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.delete {
  color: red;
  cursor: pointer;
}